@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #131315; /* Color of the thumb */
  border-radius: 10px; /* Round corners */
  border: 1px solid #404044;
}

/* Customize the scrollbar track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 10px; /* Round corners */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }